body {
    /*background: black;*/
}

.message {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

.imageAndText {
    display: flex;
    align-items: center;
}

.imageAndText img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.text {
    /*background-color: #f0f2f5;*/
    /*padding: 10px 15px;*/
    /*border-radius: 15px;*/
    /*max-width: 60%;*/
    /*position: relative;*/
    /*margin-left: 10px;*/
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(200, 200, 200, 0.3);
}

.corner {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(200, 200, 200, 0.3) 0);
}

/*.text::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: -8px;*/
/*    top: 20px;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-left: 8px solid transparent;*/
/*    border-right: 8px solid transparent;*/
/*    border-top: 8px solid #f0f2f5;*/
/*}*/

.name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.messageText {
    font-size: 14px;
    color: #333;
    overflow-wrap: break-word;
    white-space: normal;
}

.time {
    font-size: 12px;
    color: gray;
    margin-left: 10px;
}