.button {
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:disabled,
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #004D99;
}

.secondary {
    background-color: white;
    color: #0066cc;
    border: 2px solid #0066cc;
}

.default {
    background-color: #0066CC;
    color: white;
}

.red {
    background-color: #d32f2f;
    color: white;
}

.default:hover {
    background-color: #005bb5;
}

.red:hover {
    /*background-color: #b71c1c;*/
}

.secondary:hover {
    background-color: #e6f0ff;
}


.default:active {
    background-color: #004999;
    transform: scale(0.98);
}

.secondary:active {
    background-color: #cce0ff;
    transform: scale(0.98);
}

.red:active {
    background-color: #9a0007;
    transform: scale(0.98);
}
